[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
symtool = {editable = true, path = "."}
click = "*"
pyserial = "*"
hexdump = "*"

[dev-packages]
pytest = "*"
pytest-coverage = "*"

[requires]
python_version = "3.9"
